{% extends "pages/accueil.html.twig" %}

{% block body %}

<div class="jumbotron text-center index_banniere">
    <h2> Collection étoilé </h2>
</div>

<div class="container mt-4">

    {{ block("livres") }}

</div>

{% endblock %}
